

@import 'reset.scss';




//导航条





/*
header
*/

header {
    width: 100%;
    
   
    overflow: hidden;
   position: relative;
    #bigbanner {
        background: url(../img/imgindex/2aa.jpg) no-repeat center top;
        width: 100%;
        height:300px;
        position:absolute;
        display:inline-block;
        top: 0;
        opacity:0;
        z-index:100;
        

        
    }
    #minbanner {
        background: url(../img/imgindex/2bb.jpg) no-repeat center top;
        width: 100%;
    height: 100px;
    display: block;
    z-index:99;
    top: 0;
    opacity:1;
    z-index:99;
   } 
        
       
        
    
    img {
        position: absolute;
        right: 160px;
        top: 20px;
        cursor:pointer;
        z-index: 102;
    }
}

.headernav {
    background: #eee;
    width: 100%;
    display: -webkit-flex;
    justify-content: space-between;
    position:relative;

    
}

 .side{
   width: 34px;
    height: 100%;
    background: #6c6c6c;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    .backcolor{
    background:#00c8ff;
    }
    .sidenav{
        margin-top:105px;
        li{
          width:34px;

            &:nth-child(1){
              position:relative;
                i{  
                    display:inline-block;
                    background:url(../img/imgindex/sidebarico.png) no-repeat ;
                    width:36px;
                    height:30px;

                    
                }
                div{
                        position: absolute;
                        left: -95px;
                        top: 1px;
                        background: #6c6c6c;
                        color: #fff;
                        width: 95px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        z-index:105;
                        display:inline-block;
                        display:none;
                        
                         a{
                         color:#fff;
                         font-size:10px;
                         padding: 0 9px;
                         }
                 }
            }
            &:nth-child(2){
                 height:150px;
                 margin-top: 48px;

                .sidecarlist{
                    position:absolute;
                    width:300px;
                    height:100%;
                    left:-300px;
                    top:0;
                    bottom:0;
                    background:#fff;
                     z-index: 105;
                    display:none;
                    
                    p{
                    color:#ccc;
                    }
                        .mycar{
                        font-size:17px;
                        color:#000;
                        border-bottom:1px dashed #ccc;
                         padding: 10px;
                            span{
                            margin-left:180px;
                            cursor:pointer;
                            font-size:20px;
                            color:#666;
                            }
                        }
                        img{
                            margin: 90px;
                        }
                    .emptycar{
                    font-size:30px;
                    margin:-75px 0 0 99px;
                    }  
                    .love{
                    font-size:18px;
                    margin-left:75px;
                    }      
                }
                a{
                width:34px;
                    i{
                    margin-top:18px;
                    background:url(../img/imgindex/sidebarico.png) no-repeat 0 -32px;
                    width:35px;
                    height:35px;
                    display: inline-block;
                    }
                    .car{
                    width: 20px;
                    display: inline-block;
                    position: absolute;
                    left: 12px;
                   
                    color: #fff;
                    font-size: 13px;
                    }
                    .count{
                     background:url(../img/imgindex/sidebarico.png) no-repeat 0 -210px;
                      display: inline-block;
                     width:35px;
                     height:35px;
                     margin-top:48px;
                     font-size:10px;
                     color:#fff;
                     text-align: center;
                     line-height: 32px;
                    }

                }
            }
            &:nth-child(3){
              position:relative;
              margin-top: 20px;
             i{
              background: url(../img/imgindex/sidebarico.png) no-repeat 0 -61px;
                width: 35px;
                height: 35px;
                display: inline-block;
             }
                 span{
                    position: absolute;
                    left: -100px;
                    z-index: 105;
                   top: 5px;
                    width: 90px;
                    background: #6c6c6c;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    font-size: 15px;
                    padding: 0 5px;
                  
                display: inline-block;

                    
                 }
            }
            &:nth-child(4){
                position:relative;
                i{
                    display:inline-block;
                    background:url(../img/imgindex/sidebarico.png) no-repeat 0 -100px;
                    width:35px;
                    height:35px;
                    

                }
                span{
                    position: absolute;
                    left: -100px;
                    z-index: 105;
                    top: 1px;
                    width: 90px;
                    background: #6c6c6c;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    font-size: 15px;
                    padding: 0 5px;
                   
                        display: inline-block;

                    
                }
            }
            &:nth-child(5){
                position:relative;
                i{
                    display: inline-block;
                    background: url(../img/imgindex/sidebarico.png) no-repeat 0 -134px;
                    width: 35px;
                    height: 35px;
                    margin-top: 50px;
                    bottom: 150px;
                }
                .zhiwocode{
                         bottom: 1px;
                        z-index: 110;
                        width: 410px;
                        height: 170px;
                        left: -410px;
                       
                        background: #6c6c6c;
                        position:absolute;
                       display:none;
                        

                    div{
                        float:left;
                       
                        margin:35px 0 0 26px;
                        img{
                        width:100px;
                        height:100px;
                        display:inline-block;
                        }
                        p{
                        font-size:8px;
                        color:#fff;
                        margin-top:8px;
                        }
                    }
                }
            }
            &:nth-child(6){
            position:relative;
              i{
              display:inline-block;
              background:url(../img/imgindex/sidebarico.png) no-repeat 0 -178px;
              width:35px;
              height:35px;
              margin-top: 20px;
              }
              span{
                     position: absolute;
                    left: -100px;
                    z-index: 108;
                    bottom: 12px;
                    width: 90px;
                    background: #6c6c6c;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    font-size: 15px;
                    padding: 0 5px;
                    
                        display: inline-block;
                    
                }
            }
            &:nth-child(7){
            position:relative;

                i{
                    display: inline-block;
                    position: absolute;
                    left: 12px;
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 12px solid #fff;
                     bottom: -40px;
                }
                span{
                color:#fff;
                font-size:12px;
                position:absolute;
                bottom: -55px;
                left: 5px;
                }
            }
        }
        
    }
 }
.headernav .wrap {
    max-width: 1100px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    .header-left li {
        float: left;
        margin-left: 30px;

    }
    .header-right {
        float: right;
    }
    .header-right>li {
        float: left;
        margin-left: 29px;
        position: relative;
        width: 72px;
        text-align: center;
        z-index: 101;
        &:nth-child(4){
        width:10px;
        }
    }
    .submenu {
        background:#fff;
        display: none;
        z-index: 1;
        width: 72px;


    }
    .backgroundcolor{
    background:#fff;
    border:1px solid #666;
    }

    li:hover .code img{
    display:block;
    }
    .minpico,
    .minpicf,
    .minpicth {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) 0 -73px;
        width: 5px;
        height: 40px;
        float: right;
        margin-left: 2px;
        cursor: pointer;
    }
    .code img{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: -10px;
        display: none;
        z-index: 1;
    }
    
    .minpict {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) no-repeat 0 -4px;
        width: 12px;
        height: 24px;
        float: left;
    }
    .header-right>span {
        float: left;
        margin-left: 24px;
    }
}


/*
nav
*/

nav {
    width: 100%;
    -webkit-box-flex: 3;
        .wrap {
        display: -webkit-box;
        max-width: 1100px;
            h1 {
        width: 30%;
        }
    }
}





 .nav-center {
    width: 60%;
    padding-top:20px;
}

 .nav-center label input:nth-child(1) {
    border: 2px solid #00c8ff;
    width: 400px;
    height: 40px;
}

 .nav-center label input:nth-child(2) {
    border: none;
    background: #00c8ff;
    opacity: 0.6;
    height: 44px;
    width: 80px;
    color: #fff;
    font-size: 20px;
}

.nav-center-bottom {
    a {
        color: #6c6c6c;
        font-size: 12px;
    }
    span {
        margin: 0 5px;
    }
}

.nav-right {
   
    width: 15%;
    height: 44px;
    border: 2px solid #eee;
    margin-top: 10px;
    cursor: pointer;
    a {
        &:nth-child(1) {
            background: url(../img/imgindex/topnav.png) no-repeat 10px -206px;
            width: 50px;
            height: 33px;
            display: inline-block;
            float: left;
        }
        &:nth-child(3) {
            background: url(../img/imgindex/topnav.png) 0 -65px;
            width: 30px;
            height: 40px;
            cursor: pointer;
            float: right;
        }
    }
    span {
        display: inline-block;
        margin-top: 11px;
    }
}

.listdata {
    border: 2px solid #eee;
    width: 22%;
    height: 200px;
    position: absolute;
    right: 118px;
    bottom: 191px;
    display: none;
}

nav .mainnav {
    width: 100%;
    height: 35px;
    background: #00c8ff;
    margin: 0 auto;
    display: -webkit-flex;
    font-size: 14px;
    .mainnav-left {
        width: 50%;
        cursor:pointer;
        li {
            width: 20%;
            float: left;
            line-height: 35px;
            text-align: center;
            a {
                color: #fff;
            }
            &:not(:last-child):hover,
            .active {
                background: #00647f;
            }
            &:nth-child(2) {
                background: #00647f;
            }
            .submenulist {
                width: 75%;
                height: 200px;
                display: -webkit-flex;
                -webkit-box-flex: 3;
                background: #fff;
                z-index: 1;
                position: absolute;
                left:124px;
                text-align: left;
                display: none;
                a {
                    color: #6c6c6c;
                    font-size: 12px;
                    margin: 0 5px;
                }
                .listone {
                    width: 29%;
                    margin: 10px 20px;
                }
                .listtwo {
                    width: 29%;
                    margin: 10px 20px;
                }
                .listthree {
                    width: 29%;
                    margin-top: 20px;
                }
                p {
                    margin-left: 5px;
                    border-bottom: 1px dotted #666;
                    text-indent: 30px;
                }
            }
        }
       &:nth-child(1) li:hover {
            .submenulist {
                display: -webkit-flex;
            }
        }
        .shop {
            background: url(../img/imgindex/topnav.png) 0 -67px;
     

            width: 5px;
            height: 40px;
            float: right;
            margin-left: 3px;
            cursor: pointer;
            position: absolute;
        }
    }
    .mainnav-right {
       position:absolute;
       margin-left: 240px;
       height: 30px;
    overflow: hidden;
        li {
            width:8%;
            float: left;
            line-height: 35px;
            span {
                color: #fff;
            }
        }
    }
}

.mainnav-right li {
    &:nth-child(1) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -3px;
        width: 21px;
        height: 24px;
        display: inline-block;
    }
    &:nth-child(2) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -42px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
    &:nth-child(3) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -111px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
    &:nth-child(4) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -77px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
}
/*
main
 */
.tuijian{
	background:#eee;
	padding-top:50px;
	width:100%;

	.wrap{
		max-width:1100px;
		p{
		font-size:20px;
		}
		.tuijianlist{
		width:100%;
		height: 128px;
		display:-webkit-flex;
		background:#fff;
		margin:40px 0 40px 0;
		 div{
		 display: inline-block;
		 
		 width:25%;
		 
		 	div{
		 	width:98px;
		 	height:98px;
		 	}
			 img{
			 width:98px;
			 height:98px;
			 }
			 a{
			 font-size:10px;
			 }
		 }
		}

		.navgoods{
		margin-top:10px;
		background:#fff;
		width:100%;
			.detailintro{
				font-weight:bold;
				line-height:30px;
				border-bottom:1px solid #ccc;
				padding-bottom:5px;
				display:-webkit-flex;
				#detailintro_left{
				    margin: 8px 0 0 50px;
				width:90%;
					strong{
					padding:0 20px;
					}
					span{
					color:red;
					font-size:12px;
					}
				}
				#detailintro_right{
				width:10%;
				}
			}
			.classify{
				ul{
				display:-webkit-flex;
				-webkit-box-flex:3;
				width:100%;
				 padding: 13px 44px;
					li{
						&:nth-child(1){
						    width: 9%;
	    					font-size: 15px;
	    					
						}
						&:nth-child(2){
						width:80%;
						}
						&:nth-child(3){
						width:10%;
						}
						a{
						    margin: 0 55px 10px 0;
    						font-size: 12px;
    						color:#6c6c6c;
    						
    						text-align:center;
    						display:inline-block;

						}
					}
					#deploy{
						 span{
						 background:url(../img/detail/pb_subnav_icodown.png) right no-repeat ;
						
						width: 44px;
    					display: inline-block;
					 	}
					}
				}
			}
		}
	}
}
