@import 'reset.scss';

.headernav{
   background:#f2f2f2;
   .wrap {
    max-width: 1100px;
    height: 30px;
    
    line-height: 30px;
    font-size: 13px;
    .header-left li {
        float: left;
        margin-left: 30px;
    }
    .header-right {
        float: right;
    }
    .header-right>li {
        float: left;
        margin-left: 30px;
        position: relative;
        width:70px;
    }
    .submenu {
        display: none;
        z-index: 1;
        position: absolute;

    }
    li:hover .submenu,{
        border: 1px solid #f5f5f5;
        background:#fff;
        display:block;
        text-align: center;
    
    }

    li:hover .code img{
    display:block;
    }
    .minpico,
    .minpicf,
    .minpicth {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) 0 -73px;
        width: 5px;
        height: 40px;
        float: right;
        margin-left: 2px;
        cursor: pointer;
    }
    .code img{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 33px;
        left: -17px;
        display: none;
        z-index: 1;
    }
    
    .minpict {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) no-repeat 0 -4px;
        width: 12px;
        height: 24px;
        float: left;
    }
    .header-right>span {
        float: left;
        margin-left: 24px;
    } 
}
}

/*
nav
*/

nav {
    width: 100%;
    -webkit-box-flex: 2;
    
     background:#fff;
        .wrap {
        display: -webkit-box;
        max-width: 1100px;
         h1 {
        width: 50%;
        }
        .pic{
        background:url(../img/imgindex/tipinfo.jpg) no-repeat;
        width:50%;
        height:108px;
        }
    }
}

main{
    position:relative;
    background:url(../img/imgindex/login.jpg) no-repeat center ;
    width:100%;
    height:784px;
    .loginhtml{
    width:406px;
    height:529px;
    background:#fff;
    position:absolute;
    padding: 34px;
     top: 13%;
    right: 15%;
        table{
        
        width:406px;
        height: 300px; 
            input{
             outline:none;
             text-indent:7px;
             &:focus{
             border:2px solid #00c8ff;
             }
            }
            tr{
                span{
                font-size:8px;
                 color: red;
                 display:none;
                }
                input{
                
                height:30px;
                }
                a{
                color:#00c8ff;
                }
                &:nth-child(1){

                font-size:20px;
                    span{
                    font-size:12px;
                    color:#666;
                    }
                    a{
                    font-size:20px;
                    
                    }
                }
                &:nth-child(2){
                    input{
                    width:330px;
                    }
                }
                &:nth-child(3){
                    input{
                    width:330px;
                    }
                }
                &:nth-child(4){
                    input{
                    width:330px;
                    }
                }
                &:nth-child(6){
                    input{
                    -webkit-appearance: none;
                    line-height:31px;
                    text-align:center;
                    background:#00c8ff;
                     width: 403px;
                        font-size:18px;
                        color:#fff;
                        border:none;
                    }
            
                 }


            }
       }
      
        }
        .hezuo {
            border-top: 1px dashed #000;
            padding-top: 17px;
            margin-top: 20px;
            color: #6c6c6c;
            ul{
            margin-top: 10px;
            width:406px;
            
            
           li{
            
            padding:0 26px;
            float: left;
            height:30px;
            a{
            font-size:14px;
            color: #6c6c6c;
            }
            &:nth-child(1){
            background:url(../img/imgindex/other_autoico.png) no-repeat;
            }
            &:nth-child(2){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -31px;
            }
            &:nth-child(3){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -62px;
            }
            &:nth-child(4){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -89px;
            }
            &:nth-child(5){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -119px;
            }
            &:nth-child(6){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -150px;
            }
            &:nth-child(7){
            position: relative;
            background:url(../img/imgindex/other_autoico.png) no-repeat  0 -176px;
            }
            }
         }
        }
    
}

footer{
    width:100%;

    background:#fff;
    height:200px;
    .wrap{
    max-width:1100px;
        .foot{
        
        ul{
            display:-webkit-flex;
        -webkit-box-flex:8;
        width:100%;
            margin-left: 70px;
            li{
            width:71.5px;
            margin-top:38px;
            margin-right:50px;
            a{
            color: #6c6c6c;
            font-size: 14px;
            }
            span{
            line-height:40px;
            font-weight:bold;
            }
            img{
            width:103px;
            height:103px;
            }
            i{
                color: #00c8ff;
                 font-weight: bold;
                 font-size:8px;
            }
            }
            #phone,#last{
            width:100px;
            }
            
        }
        }
    }
}
.footer{
    width:100%;
    background:#00c8ff;
   height: 37px;
   color:#fff;
   font-size:14px;
   font-weight:bold;
    line-height: 37px;

    .wrap{
    max-width:1100px;
    #bottom{
     
         ul{width:50%;
             margin-left: 300px;
         display:-webkit-flex;
           
         li{
         margin-right: 50px;
         }
         }

     }
     
    
    }
}
.bottom-nav{
    width:100%;
    height:200px;
    background:#fff;
    margin-top: 30px;
    color: #6c6c6c;
    font-size:12px;
    .wrap{
    max-width:1100px;
    p{
        margin-bottom:10px;
        }
        .footer_copy{
        width: 50%;
        text-align: center;
        margin-left: 226px;
        }
    }
}