@import 'reset.scss';

/*
header
*/

header {
    width: 100%;
    position:relative;
   
    #bigbanner {
        background: url(../img/imgindex/head.jpg) no-repeat center top;
        width: 100%;
        height: 300px;
        display:inline-block;
        top: 0;
        opacity:1;

        
    }
    #minbanner {
        background: url(../img/imgindex/min.jpg) no-repeat ;
        width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    opacity:0;
   } 
        
       
        
    
    img {
        position: absolute;
        right: 160px;
        top: 20px;
        cursor:pointer
    }
}

.headernav {
    background: #eee;
    width: 100%;
    display: -webkit-flex;
    justify-content: space-between;
    
}

.headernav .wrap {
    max-width: 1200px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    .header-left li {
        float: left;
        margin-left: 30px;
    }
    .header-right {
        float: right;
    }
    .header-right>li {
        float: left;
        margin-left: 30px;
        position: relative;
        width:70px;
    }
    .submenu {
        display: none;
        z-index: 1;

    }
    li:hover .submenu,{
        border: 1px solid #f5f5f5;
        background:#fff;
        display:block;
        text-align: center;
    
    }

    li:hover .code img{
    display:block;
    }
    .minpico,
    .minpicf,
    .minpicth {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) 0 -73px;
        width: 5px;
        height: 40px;
        float: right;
        margin-left: 2px;
        cursor: pointer;
    }
    .code img{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 33px;
        left: -17px;
        display: none;
        z-index: 1;
    }
    
    .minpict {
        display: inline-block;
        background: url(../img/imgindex/topnav.png) no-repeat 0 -4px;
        width: 12px;
        height: 24px;
        float: left;
    }
    .header-right>span {
        float: left;
        margin-left: 24px;
    }
}


/*
nav
*/

nav {
    width: 100%;
    -webkit-box-flex: 3;
}

nav .wrap {
    display: -webkit-box;
    max-width: 1200px;
}

nav h1 {
    width: 30%;
}

 .nav-center {
    width: 60%;
    padding-top:20px;
}

 .nav-center label input:nth-child(1) {
    border: 2px solid #00c8ff;
    width: 400px;
    height: 40px;
}

 .nav-center label input:nth-child(2) {
    border: none;
    background: #00c8ff;
    opacity: 0.6;
    height: 44px;
    width: 80px;
    color: #fff;
    font-size: 20px;
}

.nav-center-bottom {
    a {
        color: #6c6c6c;
        font-size: 12px;
    }
    span {
        margin: 0 5px;
    }
}

.nav-right {
   
    width: 14%;
    height: 44px;
    border: 2px solid #eee;
    margin-top: 10px;
    cursor: pointer;
    a {
        &:nth-child(1) {
            background: url(../img/imgindex/topnav.png) no-repeat 10px -206px;
            width: 50px;
            height: 33px;
            display: inline-block;
            float: left;
        }
        &:nth-child(3) {
            background: url(../img/imgindex/topnav.png) 0 -65px;
            width: 30px;
            height: 40px;
            cursor: pointer;
            float: right;
        }
    }
    span {
        display: inline-block;
        margin-top: 11px;
    }
}

.listdata {
    border: 2px solid #eee;
    width: 22%;
    height: 200px;
    position: absolute;
    right: 118px;
    bottom: 191px;
    display: none;
}

nav .mainnav {
    width: 100%;
    height: 35px;
    background: #00c8ff;
    margin: 0 auto;
    display: -webkit-flex;
    font-size: 14px;
    .mainnav-left {
        width: 50%;
        cursor:pointer;
        li {
            width: 20%;
            float: left;
            line-height: 35px;
            text-align: center;
            a {
                color: #fff;
            }
            &:not(:last-child):hover,
            .active {
                background: #00647f;
            }
            &:first-child {
                background: #00647f;
            }
            .submenulist {
                width: 75%;
                height: 200px;
                display: -webkit-flex;
                -webkit-box-flex: 3;
                background: #fff;
                z-index: 1;
                position: absolute;
                left:75px;
                text-align: left;
                display: none;
                a {
                    color: #6c6c6c;
                    font-size: 12px;
                    margin: 0 5px;
                }
                .listone {
                    width: 29%;
                    margin: 10px 20px;
                }
                .listtwo {
                    width: 29%;
                    margin: 10px 20px;
                }
                .listthree {
                    width: 29%;
                    margin-top: 20px;
                }
                p {
                    margin-left: 5px;
                    border-bottom: 1px dotted #666;
                    text-indent: 30px;
                }
            }
        }
       &:nth-child(1) li:hover {
            .submenulist {
                display: -webkit-flex;
            }
        }
        .shop {
            background: url(../img/imgindex/topnav.png) 0 -67px;
     

            width: 5px;
            height: 40px;
            float: right;
            margin-left: 3px;
            cursor: pointer;
            position: absolute;
        }
    }
    .mainnav-right {
       position:absolute;
       margin-left: 200px;
        li {
            width:8%;
            float: left;
            line-height: 35px;
            span {
                color: #fff;
            }
        }
    }
}

.mainnav-right li {
    &:nth-child(1) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -3px;
        width: 21px;
        height: 24px;
        display: inline-block;
    }
    &:nth-child(2) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -42px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
    &:nth-child(3) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -111px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
    &:nth-child(4) a {
        background: url(../img/imgindex/assure.png) no-repeat 0 -77px;
        width: 21px;
        height: 21px;
        display: inline-block;
    }
}


/*
banner
*/

.banner {
    width: 100%;
    ul {
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        li{
        float:left;
        position:absolute;
        }
    }
    img {
        width: 100%;
    }
}



/*
main

*/

main {
    width: 100%;
    background: #f6f6f3;
    h3 {
        text-align: center;
        padding: 40px 0;
    }
    .navlist {
        width: 70px;
        font-size: 14px;
        background: #fff;
        color: #6c6c6c;
        position: fixed;
        top: 0;
        left: 20px;
        display: none;
        li {
            border-bottom: 1px dashed #eee;
            height: 60px;
            text-align: center;
            &:first-child {
                background: #00c8ff;
                border-bottom: 1px solid #fff;
            }
            &:nth-child(1) p {
                line-height: 30px;
            }
            &:nth-child(2) p {
                background: url(../img/imgindex/snav.png) no-repeat 0 -66px;
                width: 60px;
                height: 30px;
            }
            &:nth-child(3) p {
                background: url(../img/imgindex/snav.png) no-repeat 0 -124px;
                width: 60px;
                height: 30px;
            }
            &:nth-child(4) p {
                background: url(../img/imgindex/snav.png) no-repeat 0 -184px;
                width: 60px;
                height: 30px;
            }
            a {
                color: #6c6c6c;
            }
            &:hover {
                background: #00c8ff;
            }
        }
    }
    .wrap {
        max-width: 1200px;
        .maincontent {
            display: -webkit-flex;
            padding-top: 20px;
            width: 100%;
            -webkit-box-flex: 2;
            ul {
                flex: 1;
                width: 60%;
                li {
                    margin-bottom: 20px;
                }
            }
            .contents {
                flex: 1;
                width: 40%;
                &>div {
                    height: 350px;
                    background: #fff;
                    margin-bottom: 24px;
                    .endtime {
                        text-align: center;
                        font-size: 14px;
                        line-height: 50px;
                    }
                    #prointru {
                        display: inline-block;
                        width: 70%;
                        margin-left: 127px;
                        margin-top: 12px;
                        letter-spacing: 2px;
                        line-height: 26px;
                        strong {
                            color: #ff643c;
                        }
                    }
                    div {
                        width: 92%;
                        margin-top: 30px;
                        text-align: center;
                        .price {
                            big {
                                font-size: 30px;
                            }
                            del {
                                color: #6c6c6c;
                            }
                        }
                        p {
                            margin-left: 350px;
                            color: #c4c4c4;
                        }
                        .carlist {
                            float: right;
                            width: 30%;
                            height: 40px;
                            background: #ff643c;
                            border-radius: 4px;
                            text-align: center;
                            line-height: 40px;
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}


/*
main-center
*/

.main-center {
    width: 100%;
    .wrap {
        max-width: 1200px;
        p {
            padding-bottom: 20px;
        }
        .introduce {
            width: 100%;
            display: -webkit-flex;
            overflow: hidden;
            li {
                background: #fff;
                width: 25%;
                margin-right: 53px;
                box-sizing: border-box;
                a {
                    font-size: 12px;
                }
                &:nth-child(2) div {
                    margin-top: 7px;
                }
            }
        }
        img {
            width: 260px;
            height: 260px;
        }
        div {
            margin-top: 29px;
            .price {
                big {
                    font-size: 30px;
                    color: #ff643c;
                }
                del {
                    color: #6c6c6c;
                }
            }
            .carlist {
                float: right;
                width: 40%;
                height: 37px;
                background: #ff643c;
                border-radius: 4px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-size: 15px;
            }
        }
    }
}


/*
brandlist
*/

.brandlist {
    width: 100%;
    padding-top: 40px;
    .wrap {
        max-width: 1200px;
        a{ font-weight:bold;}
        span {
            width: 120px;
            display: inline-block;
            text-align: center;
            margin-left: 20px;
            position: relative;
            
            &:hover {
                i {
                    border-bottom: 2px solid #00c8ff;
                    width: 122px;
                    display: inline-block;
                    bottom: 3px;
                    left: 5px;
                    position: absolute;
                    margin-bottom: -12px;
                }
               a{
               color:#00c8ff;
               font-weight:bold;
               } 
                
              
            }
        }
        
        .brandleader {
            display: -webkit-flex;
            -webkit-box-flex: 2;
            border-top: 1px solid #000;
                margin-top: 8px;
            .brandleader-left {
                width: 75%;
                margin-top: 20px;
                a {
                    width: 20%;
                    margin-right: 10px;
                }
                img {
                    margin-top: 20px;
                    width: 160px;
                    height: 102px;
                }
            }
            .brandleader-right{

            	width:25%;
              margin-top:18px;
              position:relative;
              img{
              height:230px;
              }

              :first-child{
              	          left: -65px;
    						top: 131px;

              }
              :last-child{
                    top: -122px;
    				left: 190px;

              }
            }


        }
        .parttwo,.partthree,.partfour{
        	display:none;
        }
    }


}
.producelist {
    width:100%;
    font-size:  13px;
   ul li{
      
       .pro-contents{
         display:-webkit-flex;
        width:100%;
        -webkit-box-flex:3;
      &>div{
       width: 33%;
       height: 492px;       background: #fff;
       position:relative;
        margin: 20px 20px 0 0;
        img{
        width:100%;
        height: 300px;
       
        }

        p{
        margin-top: 20px;
        line-height:25px;
        margin-left:10px;
        strong{
        color:#ff643c;
        font-size:20px;
        }
        a{
        color:#6c6c6c;
        }
        }
        .functionone{
        position:absolute;
         margin-top: -25px;
         left:38px;
         display:none;

         span{
         border:1px solid #00c8ff;
         background:#fff;
         margin-right:20px;
             height: 25px;
         width:70px;
            display: inline-block;
            text-align: center;
            a{
            font-size:  13px;
            color:#00c8ff;
            }
         
         }

        }
         .functionthree{
         position:absolute;
            left:148px;
            
         }
        .functiontwo{
        position:absolute;
            margin-top: -26px;
            left: 106px;
          

         
        }

        div {
            margin-top: 29px;
            .price {
                big {
                    font-size: 30px;
                    color: #ff643c;
                }
                del {
                    color: #6c6c6c;
                }
            }
            .carlist {
                float: right;
                width: 30%;
                height: 37px;
                background: #ff643c;
                border-radius: 4px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-size: 15px;
            }
        }
       } 
        
    }
   
   }
    
    }

.search{
    padding-top: 50px;
     padding-bottom: 50px;
    .nav-center{
    width:100%;
    text-align: center;
    background: #fff; 
    height: 100px;
     }
}
footer{
    width:100%;

    background:#fff;
    height:200px;
    .wrap{
    max-width:1200px;
        .foot{
        
        ul{
            display:-webkit-flex;
        -webkit-box-flex:8;
        width:100%;
            margin-left: 70px;
            li{
            width:71.5px;
            margin-top:38px;
            margin-right:50px;
            a{
            color: #6c6c6c;
            font-size: 14px;
            }
            span{
            line-height:40px;
            font-weight:bold;
            }
            img{
            width:103px;
            height:103px;
            }
            i{
                color: #00c8ff;
                 font-weight: bold;
                 font-size:8px;
            }
            }
            #phone,#last{
            width:100px;
            }
            
        }
        }
    }
}
.footer{
    width:100%;
    background:#00c8ff;
   height: 37px;
   color:#fff;
   font-size:14px;
   font-weight:bold;
    line-height: 37px;

    .wrap{
    max-width:1200px;
    #bottom{
     
         ul{width:50%;
             margin-left: 300px;
         display:-webkit-flex;
           
         li{
         margin-right: 50px;
         }
         }

     }
     
    
    }
}
.bottom-nav{
    width:100%;
    height:200px;
    background:#fff;
    margin-top: 30px;
    color: #6c6c6c;
    font-size:12px;
    p{
    margin-bottom:10px;
    }
    .footer_copy{
    width: 50%;
    text-align: center;
    margin-left: 226px;
    }
}