@charset "UTF-8";
/*
reset
*/
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, li, ol, pre, form, input, textarea, th, td, img, header, select { margin: 0; padding: 0; }

body { font-family: "微软雅黑"; background: none; }

a { text-decoration: none; color: #000; font-family: "微软雅黑"; }

ul li { list-style: none; }

.wrap { width: 100%; margin: 0 auto; }

.clear::after { content: ''; display: block; clear: both; }

.head { margin: 0 auto; }

/*
header
*/
header { width: 100%; overflow: hidden; position: relative; }

header #bigbanner { background: url(../img/imgindex/2aa.jpg) no-repeat center top; width: 100%; height: 300px; position: absolute; display: inline-block; top: 0; opacity: 0; }

header #minbanner { background: url(../img/imgindex/2bb.jpg) no-repeat center top; width: 100%; height: 100px; display: block; z-index: 99; top: 0; opacity: 1; z-index: 99; }

header img { position: absolute; right: 160px; top: 20px; cursor: pointer; z-index: 102; }

.headernav { background: #eee; width: 100%; display: -webkit-flex; justify-content: space-between; position: relative; }

.side { width: 34px; height: 100%; background: #6c6c6c; position: fixed; right: 0; top: 0; z-index: 10; }

.side .backcolor { background: #00c8ff; }

.side .sidenav { margin-top: 105px; }

.side .sidenav li { width: 34px; }

.side .sidenav li:nth-child(1) { position: relative; }

.side .sidenav li:nth-child(1) i { display: inline-block; background: url(../img/imgindex/sidebarico.png) no-repeat; width: 36px; height: 30px; }

.side .sidenav li:nth-child(1) div { position: absolute; left: -95px; top: 1px; background: #6c6c6c; color: #fff; width: 95px; height: 32px; text-align: center; line-height: 32px; z-index: 105; display: inline-block; display: none; }

.side .sidenav li:nth-child(1) div a { color: #fff; font-size: 10px; padding: 0 9px; }

.side .sidenav li:nth-child(2) { height: 150px; margin-top: 48px; }

.side .sidenav li:nth-child(2) .sidecarlist { position: absolute; width: 300px; height: 100%; left: -300px; top: 0; bottom: 0; background: #fff; z-index: 105; display: none; }

.side .sidenav li:nth-child(2) .sidecarlist p { color: #ccc; }

.side .sidenav li:nth-child(2) .sidecarlist .mycar { font-size: 17px; color: #000; border-bottom: 1px dashed #ccc; padding: 10px; }

.side .sidenav li:nth-child(2) .sidecarlist .mycar span { margin-left: 180px; cursor: pointer; font-size: 20px; color: #666; }

.side .sidenav li:nth-child(2) .sidecarlist img { margin: 90px; }

.side .sidenav li:nth-child(2) .sidecarlist .emptycar { font-size: 30px; margin: -75px 0 0 99px; }

.side .sidenav li:nth-child(2) .sidecarlist .love { font-size: 18px; margin-left: 75px; }

.side .sidenav li:nth-child(2) a { width: 34px; }

.side .sidenav li:nth-child(2) a i { margin-top: 18px; background: url(../img/imgindex/sidebarico.png) no-repeat 0 -32px; width: 35px; height: 35px; display: inline-block; }

.side .sidenav li:nth-child(2) a .car { width: 20px; display: inline-block; position: absolute; left: 12px; color: #fff; font-size: 13px; }

.side .sidenav li:nth-child(2) a .count { background: url(../img/imgindex/sidebarico.png) no-repeat 0 -210px; display: inline-block; width: 35px; height: 35px; margin-top: 48px; font-size: 10px; color: #fff; text-align: center; line-height: 32px; }

.side .sidenav li:nth-child(3) { position: relative; margin-top: 20px; }

.side .sidenav li:nth-child(3) i { background: url(../img/imgindex/sidebarico.png) no-repeat 0 -61px; width: 35px; height: 35px; display: inline-block; }

.side .sidenav li:nth-child(3) span { position: absolute; left: -100px; z-index: 105; top: 5px; width: 90px; background: #6c6c6c; height: 30px; text-align: center; line-height: 30px; color: #fff; font-size: 15px; padding: 0 5px; display: inline-block; }

.side .sidenav li:nth-child(4) { position: relative; }

.side .sidenav li:nth-child(4) i { display: inline-block; background: url(../img/imgindex/sidebarico.png) no-repeat 0 -100px; width: 35px; height: 35px; }

.side .sidenav li:nth-child(4) span { position: absolute; left: -100px; z-index: 105; top: 1px; width: 90px; background: #6c6c6c; height: 30px; text-align: center; line-height: 30px; color: #fff; font-size: 15px; padding: 0 5px; display: inline-block; }

.side .sidenav li:nth-child(5) { position: relative; }

.side .sidenav li:nth-child(5) i { display: inline-block; background: url(../img/imgindex/sidebarico.png) no-repeat 0 -134px; width: 35px; height: 35px; margin-top: 50px; bottom: 150px; }

.side .sidenav li:nth-child(5) .zhiwocode { bottom: 1px; z-index: 110; width: 410px; height: 170px; left: -410px; background: #6c6c6c; position: absolute; display: none; }

.side .sidenav li:nth-child(5) .zhiwocode div { float: left; margin: 35px 0 0 26px; }

.side .sidenav li:nth-child(5) .zhiwocode div img { width: 100px; height: 100px; display: inline-block; }

.side .sidenav li:nth-child(5) .zhiwocode div p { font-size: 8px; color: #fff; margin-top: 8px; }

.side .sidenav li:nth-child(6) { position: relative; }

.side .sidenav li:nth-child(6) i { display: inline-block; background: url(../img/imgindex/sidebarico.png) no-repeat 0 -178px; width: 35px; height: 35px; margin-top: 20px; }

.side .sidenav li:nth-child(6) span { position: absolute; left: -100px; z-index: 108; bottom: 12px; width: 90px; background: #6c6c6c; height: 30px; text-align: center; line-height: 30px; color: #fff; font-size: 15px; padding: 0 5px; display: inline-block; }

.side .sidenav li:nth-child(7) { position: relative; }

.side .sidenav li:nth-child(7) i { display: inline-block; position: absolute; left: 12px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 12px solid #fff; bottom: -40px; }

.side .sidenav li:nth-child(7) span { color: #fff; font-size: 12px; position: absolute; bottom: -55px; left: 5px; }

.headernav .wrap { max-width: 1100px; height: 30px; line-height: 30px; font-size: 13px; }

.headernav .wrap .header-left li { float: left; margin-left: 30px; }

.headernav .wrap .header-right { float: right; }

.headernav .wrap .header-right > li { float: left; margin-left: 29px; position: relative; width: 72px; text-align: center; z-index: 101; }

.headernav .wrap .header-right > li:nth-child(4) { width: 10px; }

.headernav .wrap .submenu { background: #fff; display: none; z-index: 1; width: 72px; }

.headernav .wrap .backgroundcolor { background: #fff; border: 1px solid #666; }

.headernav .wrap li:hover .code img { display: block; }

.headernav .wrap .minpico, .headernav .wrap .minpicf, .headernav .wrap .minpicth { display: inline-block; background: url(../img/imgindex/topnav.png) 0 -73px; width: 5px; height: 40px; float: right; margin-left: 2px; cursor: pointer; }

.headernav .wrap .code img { width: 100px; height: 100px; position: absolute; top: 30px; left: -10px; display: none; z-index: 1; }

.headernav .wrap .minpict { display: inline-block; background: url(../img/imgindex/topnav.png) no-repeat 0 -4px; width: 12px; height: 24px; float: left; }

.headernav .wrap .header-right > span { float: left; margin-left: 24px; }

/*
nav
*/
nav { width: 100%; -webkit-box-flex: 3; }

nav .wrap { display: -webkit-box; max-width: 1100px; }

nav .wrap h1 { width: 30%; }

.nav-center { width: 60%; margin: 50px 0 50px 0; }

.nav-center label input:nth-child(1) { border: 2px solid #00c8ff; width: 400px; height: 40px; }

.nav-center label input:nth-child(2) { border: none; background: #00c8ff; opacity: 0.6; height: 44px; width: 80px; color: #fff; font-size: 20px; }

.nav-center-bottom a { color: #6c6c6c; font-size: 12px; }

.nav-center-bottom span { margin: 0 5px; }

.nav-right { width: 15%; height: 44px; border: 2px solid #eee; margin-top: 10px; cursor: pointer; }

.nav-right a:nth-child(1) { background: url(../img/imgindex/topnav.png) no-repeat 10px -206px; width: 50px; height: 33px; display: inline-block; float: left; }

.nav-right a:nth-child(3) { background: url(../img/imgindex/topnav.png) 0 -65px; width: 30px; height: 40px; cursor: pointer; float: right; }

.nav-right span { display: inline-block; margin-top: 11px; }

.listdata { border: 2px solid #eee; width: 22%; height: 200px; right: 118px; bottom: 191px; display: none; }

nav .mainnav { width: 100%; height: 35px; background: #00c8ff; margin: 0 auto; display: -webkit-flex; font-size: 14px; }

nav .mainnav .mainnav-left { width: 50%; cursor: pointer; }

nav .mainnav .mainnav-left li { width: 20%; float: left; line-height: 35px; text-align: center; }

nav .mainnav .mainnav-left li:first-child { background: none; }

nav .mainnav .mainnav-left li a { color: #fff; }

nav .mainnav .mainnav-left li:not(:last-child):hover, nav .mainnav .mainnav-left li .active { background: #00647f; }

nav .mainnav .mainnav-left li:nth-child(2) { background: #00647f; }

nav .mainnav .mainnav-left li .submenulist { width: 75%; height: 200px; display: -webkit-flex; -webkit-box-flex: 3; background: #fff; z-index: 1; position: absolute; left: 124px; text-align: left; display: none; }

nav .mainnav .mainnav-left li .submenulist a { color: #6c6c6c; font-size: 12px; margin: 0 5px; }

nav .mainnav .mainnav-left li .submenulist .listone { width: 29%; margin: 10px 20px; }

nav .mainnav .mainnav-left li .submenulist .listtwo { width: 29%; margin: 10px 20px; }

nav .mainnav .mainnav-left li .submenulist .listthree { width: 29%; margin-top: 20px; }

nav .mainnav .mainnav-left li .submenulist p { margin-left: 5px; border-bottom: 1px dotted #666; text-indent: 30px; }

nav .mainnav .mainnav-left:nth-child(1) li:hover .submenulist { display: -webkit-flex; }

nav .mainnav .mainnav-left .shop { background: url(../img/imgindex/topnav.png) 0 -67px; width: 5px; height: 40px; float: right; margin-left: 3px; cursor: pointer; position: absolute; }

nav .mainnav .mainnav-right { position: absolute; margin-left: 240px; height: 30px; overflow: hidden; }

nav .mainnav .mainnav-right li { width: 8%; float: left; line-height: 35px; }

nav .mainnav .mainnav-right li span { color: #fff; }

.mainnav-right li:nth-child(1) a { background: url(../img/imgindex/assure.png) no-repeat 0 -3px; width: 21px; height: 24px; display: inline-block; }

.mainnav-right li:nth-child(2) a { background: url(../img/imgindex/assure.png) no-repeat 0 -42px; width: 21px; height: 21px; display: inline-block; }

.mainnav-right li:nth-child(3) a { background: url(../img/imgindex/assure.png) no-repeat 0 -111px; width: 21px; height: 21px; display: inline-block; }

.mainnav-right li:nth-child(4) a { background: url(../img/imgindex/assure.png) no-repeat 0 -77px; width: 21px; height: 21px; display: inline-block; }

/* main */
.tuijian { background: #eee; margin-top: 20px; width: 100%; }

.tuijian .wrap { max-width: 1100px; }

.tuijian .wrap p { font-size: 20px; }

.tuijian .wrap .tuijianlist { width: 100%; height: 128px; display: -webkit-flex; background: #fff; margin: 40px 0 40px 0; }

.tuijian .wrap .tuijianlist div { display: inline-block; width: 25%; }

.tuijian .wrap .tuijianlist div div { width: 100px; height: 100px; margin: 10px; }

.tuijian .wrap .tuijianlist div div:hover img { border: 1px solid #eee; }

.tuijian .wrap .tuijianlist div img { width: 98px; height: 98px; }

.tuijian .wrap .tuijianlist div a { font-size: 10px; }

.tuijian .wrap .navgoods { margin-top: 10px; width: 100%; }

.tuijian .wrap .navgoods .detailintro { font-weight: bold; line-height: 30px; border-bottom: 1px solid #e3e3e3; padding-bottom: 5px; display: -webkit-flex; background: #fff; }

.tuijian .wrap .navgoods .detailintro #detailintro_left { margin: 8px 0 0 50px; width: 90%; }

.tuijian .wrap .navgoods .detailintro #detailintro_left strong { padding: 0 20px; }

.tuijian .wrap .navgoods .detailintro #detailintro_left span { color: red; font-size: 12px; }

.tuijian .wrap .navgoods .detailintro #detailintro_right { width: 10%; }

.tuijian .wrap .navgoods .classify { background: #fff; }

.tuijian .wrap .navgoods .classify ul { display: -webkit-flex; -webkit-box-flex: 3; width: 100%; padding: 13px 44px; }

.tuijian .wrap .navgoods .classify ul li { height: 94px; overflow: hidden; }

.tuijian .wrap .navgoods .classify ul li:nth-child(1) { width: 9%; font-size: 15px; }

.tuijian .wrap .navgoods .classify ul li:nth-child(2) { width: 80%; }

.tuijian .wrap .navgoods .classify ul li:nth-child(3) { width: 10%; }

.tuijian .wrap .navgoods .classify ul li a { margin: 0 65px 10px 0; font-size: 12px; color: #6c6c6c; text-align: center; display: inline-block; }

.tuijian .wrap .navgoods .classify ul #deploy span { background: url(../img/detail/pb_subnav_icodown.png) right no-repeat; width: 44px; display: inline-block; }

.tuijian .wrap .navgoods .classify .first-classify { border-bottom: 1px #e3e3e3 dotted; }

.tuijian .wrap .navgoods .classify .three-classify { height: 30px; border-bottom: 1px #e3e3e3 dotted; margin-bottom: 10px; }

.tuijian .wrap .navgoods .searchnav .peopleprices { display: -webkit-flex; -webkit-box-flex: 2; width: 100%; height: 40px; line-height: 40px; background: #6c6c6c; color: #fff; font-size: 14px; margin: 20px 0 20px 0; }

.tuijian .wrap .navgoods .searchnav .peopleprices a { color: #fff; }

.tuijian .wrap .navgoods .searchnav .peopleprices #active { background: #fff; color: #6c6c6c; }

.tuijian .wrap .navgoods .searchnav .peopleprices #active a { background: url(../img/detail/pb_subnav_icogray.png) no-repeat right; width: 13px; height: 13px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left { display: -webkit-flex; width: 70%; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li { width: 15%; text-align: center; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(1) a, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(2) a, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(3) a { background: url(../img/detail/pb_subnav_icowhite.png) no-repeat right; width: 12px; height: 12px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(1):hover, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(2):hover, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(3):hover { background: #fff; color: #6c6c6c; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(1):hover a, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(2):hover a, .tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(3):hover a { background: url(../img/detail/pb_subnav_icogray.png) no-repeat right; width: 12px; height: 12px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(4) a { background: url(../img/detail/pb_subnav_icoprice.png) no-repeat right; width: 12px; height: 12px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(4):hover { background: #fff; color: #6c6c6c; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(4):hover a { background: url(../img/detail/111.png) no-repeat right; width: 12px; height: 12px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(5) a { background: url(../img/detail/pb_subnav_iconosel.png) no-repeat right; width: 17px; height: 12px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(5):hover { background: #fff; color: #6c6c6c; }

.tuijian .wrap .navgoods .searchnav .peopleprices .people-left li:nth-child(5):hover a { background: url(../img/detail/pb_subnav_icosel.png) no-repeat right; width: 17px; height: 14px; display: inline-block; }

.tuijian .wrap .navgoods .searchnav .peopleprices .page-right { display: -webkit-flex; width: 30%; }

.tuijian .wrap .navgoods .searchnav .peopleprices .page-right li { margin: 0 10px 0 10px; }

.tuijian .wrap .navgoods .searchnav .peopleprices .page-right li span { color: red; }

.tuijian .wrap .navgoods .searchnav .pagediv span { color: red; font-size: 15px; width: 46px; display: inline-block; text-align: center; border: 1px solid #000; cursor: pointer; }

.tuijian .wrap .navgoods .searchnav .produceslist { height: 800px; }

.tuijian .wrap .navgoods .searchnav .produceslist .boxli { position: absolute; }

.tuijian .wrap .navgoods .searchnav .produceslist li { float: left; background: #fff; margin: 10px 17px 0 0; }

.tuijian .wrap .navgoods .searchnav .produceslist li li { width: 250px; }

.tuijian .wrap .navgoods .searchnav .produceslist li p { font-size: 14px; padding: 5px; }

.tuijian .wrap .navgoods .searchnav .produceslist li strong { background: #ff643c; color: #fff; width: 87px; display: inline-block; height: 23px; text-align: center; margin-left: 34px; font-size: 12px; line-height: 23px; }

.tuijian .wrap .navgoods .searchnav .produceslist li del { color: #ccc; }

.tuijian .wrap .navgoods .searchnav .produceslist li big { font-size: 18px; color: #ff643c; }

.tuijian .wrap .navgoods .searchnav .produceslist li img { width: 254px; height: 260px; }

/*footer*/
.search { padding: 20px 0 20px 0; }

.search .nav-center { width: 100%; text-align: center; height: 100px; background: #fff; }

footer { width: 100%; height: 200px; }

footer .wrap { max-width: 1100px; }

footer .wrap .foot ul { display: -webkit-flex; -webkit-box-flex: 8; width: 100%; margin-left: 70px; }

footer .wrap .foot ul li { width: 71.5px; margin-top: 38px; margin-right: 50px; }

footer .wrap .foot ul li a { color: #6c6c6c; font-size: 14px; }

footer .wrap .foot ul li span { line-height: 40px; font-weight: bold; }

footer .wrap .foot ul li img { width: 103px; height: 103px; }

footer .wrap .foot ul li i { color: #00c8ff; font-weight: bold; font-size: 8px; }

footer .wrap .foot ul #phone, footer .wrap .foot ul #last { width: 100px; }

.footer { width: 100%; background: #00c8ff; height: 37px; color: #fff; font-size: 14px; font-weight: bold; line-height: 37px; }

.footer .wrap { max-width: 1100px; }

.footer .wrap #bottom ul { width: 55%; margin-left: 274px; display: -webkit-flex; }

.footer .wrap #bottom ul li { margin-right: 50px; }

.bottom-nav { width: 100%; height: 200px; background: #fff; margin-top: 30px; color: #6c6c6c; font-size: 12px; }

.bottom-nav p { margin-bottom: 10px; }

.bottom-nav .footer_copy { width: 50%; text-align: center; margin-left: 226px; }
